.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* styles.css */

/* CourseList styles */
.course-list-container {
  margin-bottom: 20px;
}

.course-list-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.course-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

/* Schedule styles */
.schedule-container {
  margin-top: 20px;
}

.schedule-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.app-container {
  text-align: center;
}

.selected-courses-container {
  margin-top: 20px;
}

.selected-courses-container h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.selected-courses-container ul {
  list-style: none;
  padding: 0;
}

.selected-courses-container li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.selected-courses-container button {
  margin-left: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.day-dropdown-container {
  margin-top: 10px;
}

.day-dropdown-container label {
  margin-right: 10px;
}